annotated-types
anyio
click
contourpy
cycler
exceptiongroup
fastapi
fonttools
h11
idna
importlib-resources
joblib
kiwisolver
matplotlib
nltk
numpy
packaging
pandas
Pillow
pip
pydantic
pydantic_core
pyparsing
python-dateutil
pytz
regex
seaborn
six
sniffio
starlette
tqdm
typing_extensions
tzdata
uvicorn
zipp
